* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #2a4e91;
  height: 100vh;
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.8);
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -23%);
          transform: translate(-50%, -23%);
}

.container .display {
  position: absolute;
  height: 175px;
  width: 350px;
  text-align: center;
  color: #f3f3f3;
  font-size: 3rem;
  padding: 4.5rem 0;
}

.container .buttons {
  position: absolute;
  bottom: 0;
  height: 175px;
  width: 350px;
  padding-top: 2.5rem;
  background: #f3f3f3;
  border-radius: 0 0 175px 175px;
  text-align: center;
}

.container .buttons button {
  width: 75px;
  height: 75px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.container .buttons button:disabled {
  cursor: auto;
}

.container .buttons button.toggle {
  font-size: 1.2rem;
}

.container .buttons button.lap {
  border-color: #ff9f1e;
}

#cont {
  position: absolute;
  display: block;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  height: 375px;
  width: 375px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 1em black;
          box-shadow: 0 0 1em black;
  border-radius: 100%;
  z-index: -1;
}

#cont:after {
  position: absolute;
  display: block;
  height: 375px;
  width: 375px;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  -webkit-box-shadow: inset 0 0 1em black;
          box-shadow: inset 0 0 1em black;
  content: attr(data-pct);
  border-radius: 100%;
  font-size: 2em;
  text-shadow: 0 0 0.5em black;
}

#cont #svg circle {
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset 1s linear;
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
  stroke-width: 1em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

#cont #svg #bar {
  stroke: #ff9f1e;
}

ul.laps {
  margin-top: 18vh;
  color: #f3f3f3;
  font-size: 1.2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: decimal inside;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

ul.laps li {
  padding: 0.2rem 0.5rem;
  border: 1px solid #ff9f1e;
  border-radius: 5px;
  margin: 0.2rem;
  background: #ff9e1e1a;
}
/*# sourceMappingURL=style.css.map */